dist: focal

language: python

matrix:
  include:
  - os: linux
    python: 3.10
    env: BACKEND=jax
  - os: osx
    language: shell
    env: BACKEND=torch PYTHON=3.10

addons:
  apt_packages:
    - pandoc

cache: pip

before_install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get install -y python3-pip; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo pip3 install requests; fi

install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then python3 -m pip install --upgrade pip; else pip install --upgrade pip; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then python3 -m pip install -r requirements.txt; else pip install -r requirements.txt; fi
  - if [ "$BACKEND" = "jax" ]; then pip install -r requirements-jax.txt; export KERAS_BACKEND=jax; fi
  - if [ "$BACKEND" = "torch" ]; then python3 -m pip install -r requirements-torch.txt; export KERAS_BACKEND=torch; fi
  - pip install sphinx nbsphinx
  - python setup.py install

script:
  - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then source .ci/build-docs.sh; fi
  - pytest stella/tests/* --cov=stella/
