nbsphinx
ipykernel
keras>=3.0.0
jax>=0.4.20
jaxlib>=0.4.20
astroquery
astropy
tqdm
cython
codecov
coverage
pytest
pytest-cov
lxml
pybind11
tornado
matplotlib
lightkurve>=2.0.0
numpy
scikit-learn
more-itertools
scipy!=1.4.1
poetry
